<footer>

    <div class="nav-footer">
        <div class="nav-links-footer">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
        

    <p>© 2025 IMPERATRIX. All rights reserved.</p>

</footer>